body {
    --color-primary: #000000;
    --color-primary-dark: #0e1949;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
    background-size: cover;
}

.container {
    width: 400px;
    height: 600px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: container 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
    }

    @keyframes container{
        0%{
        opacity:0;
        }
        100% {
        opacity:1;
        }
        }

img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
  
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {

margin-bottom: -5px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 31px;
line-height: 46px
}

.formname{

    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 24px;
margin-top: 30px;

}

.form-check-input{
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;


}
.welkom{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 37px;
}

.welkom1{
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 37px;

}


.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    margin-top: 20px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}